<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885761249681-drq4akqaf75rcd7gcsfbb222q711hl2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885761249681-drq4akqaf75rcd7gcsfbb222q711hl2s</string>
	<key>API_KEY</key>
	<string>AIzaSyCcMLkLUi713Ifm71t6SJeXd9JnDgTCOPg</string>
	<key>GCM_SENDER_ID</key>
	<string>885761249681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KahverengiTabela2</string>
	<key>PROJECT_ID</key>
	<string>kahverengitabela-d2303</string>
	<key>STORAGE_BUCKET</key>
	<string>kahverengitabela-d2303.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885761249681:ios:ecbbb7903ebf711a4aca30</string>
</dict>
</plist>